 /*polices*/
 

 @font-face {
  font-family: "Twentieth";
  src: url(/css/fonts/TwentiethCenturyforKenmoreMedium.ttf);
}

@font-face {
  font-family: "figtree";
  src: url(/css/fonts/Figtree-Bold.ttf);
}

/*Elements à utiliser*/

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Twentieth';
  font-size: 22px;
  
}

:root{
  --body: #FFF;
  --color-black:#181823;
  --color-brown:#B38773;
  --color-peach:#FFECE5;
  --color-blue:#F1FDFB;
  --color-green:#4D7971;
  --color-orange:#FE7D4E;
}


/*Hero*/

.hero-section{
  background-color: var(--color-peach);
}

.hero-text h1{
  font-family: 'figtree';
  font-size: 55px !important;
  color: var(--color-black);
}
.hero-text h5{
  color: var(--color-black);
}

/*Boutons*/

.btn_style-1{
    text-decoration: none;
    background: var(--body);
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    color: #181823;
    border: 3px solid #181823;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;

}

.btn_style-1:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  color: #181823;
}

.btn_style-1:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.btn-nouveau:hover{
  transition: 0.5s ease;
  background-color: var(--color-peach);
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  color: #181823;
}

.btn-login{
  text-decoration: none;
  padding: 8px 18px;
  background-color:var(--color-peach);
  color: var(--color-orange);
  border-radius: 30px;
}

.btn-login:hover{
  color: var(--color-orange);
  transition: 0.8s ease;
  box-shadow: -1px 8px 59px 10px rgba(255, 236, 229, 1);
}

.btn-logout{
  padding: 4px 12px;
  border: none;
  background-color:var(--color-peach);
  color: var(--color-orange);
  border-radius: 30px;
}

.btn-logout i{
  color: var(--color-orange)
}

.btn-logout:hover{
  color: var(--color-orange);
  transition: 0.8s ease;
  box-shadow: -1px 8px 59px 10px rgba(255, 236, 229, 1);
}

.btn-form{
  padding: 17px 40px;
 border-radius: 50px;
 border: 0;
 background-color: var(--color-peach);
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
}
.btn-form:hover{
  letter-spacing: 3px;
  background-color: var(--color-orange);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--color-orange) 0px 7px 29px 0px;
}
.btn-form:active{
  letter-spacing: 3px;
  background-color: var(--color-orange);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--color-orange) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


.btn-supprimer{
  background-color: #EC7063;
 padding: 10px 10px;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor: pointer;
 border-radius: 10px;
 border: 2px dashed #EC7063;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: .4s;
}

.btn-supprimer span:last-child {
  display: none;
 }
 
 .btn-supprimer:hover {
  transition: .4s;
  background-color: #fff;
  color: #EC7063;
 }
 
 .btn-supprimer:active {
  background-color: #EC7063;
 }

 .btn-modifier{
  text-decoration: none;
  position: relative;
  top: 10px;
  background-color: #00BFA6;
  padding: 8px 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00BFA6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
 }
 
 .btn-modifier span:last-child {
  display: none;
 }
 
 .btn-modifier:hover {
  transition: .4s;
  border: 2px dashed #00BFA6;
  background-color: #fff;
  color: #00BFA6;
 }
 
 .btn-modifier:active {
  background-color: #87dbd0;
 }


 .add-btn{
  text-decoration: none;
  position: relative;
  top: 10px;
  background-color: #00BFA6;
  padding: 8px 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00BFA6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
 }
 
 .add-btn span:last-child {
  display: none;
 }
 
 .add-btn:hover {
  transition: .4s;
  border: 2px dashed #00BFA6;
  background-color: #fff;
  color: #00BFA6;
 }
 
 .add-btn:active {
  background-color: #87dbd0;
 }
 
 

/*Nouveau*/

.nouveau-section{
  background-color: var(--body);
  padding: 40px 0px;
}

.nouveau-text h1{
  font-family: 'figtree';
  font-size: 45px !important;
  color: var(--color-black);
}
.nouveau-text h5{
  color: var(--color-black);
}

.nouveau-image{
  background-color: var(--color-peach);
  height: 100%;
  width:500px;
}

.nouveau-image img{
  width: 100%;
  height: 100%;
}

/*navbar*/

.my-navbar{
    background-color: #fff;
}

.navbar-collapse{
    justify-content: center;
}
.navbar-collapse ul li a{
    color: #262626;
    font-weight:500;
    transition: 0.5s ease;
}
.navbar-collapse ul li a:hover{
    color: var(--color-orange);
}

.div-panier a{
    text-decoration: none;
    color:#262626 !important;
    font-weight:500;
    transition: 0.5s ease;
}
.div-panier a:hover{
    color:var(--color-orange) !important;
}

.div-panier a:hover i{
    transition: 0.5s ease;
    color:var(--color-orange) !important;
}


/*carousel*/

.carousel-section{
  background-color: var(--color-blue);
}

.carousel-section h2{
  color: var(--color-green);
  position: relative;
  font-size:35px ;
}

.carousel-section h2::after{
  position:absolute;
  content: "";
  width: 40px;
  top: 40px;
  left: 140px;
  height: 3px;
  background-color: var(--color-green);

}

/*best-book*/

.best-book-section{
  padding: 30px;
}

.best-book-section .bb-title{
  position: relative;
  font-size:35px ;
}

.best-book-section .bb-title::after{
  position:absolute;
  content: "";
  width: 40px;
  top: 40px;
  left: 150px;
  height: 3px;
  background-color: var(--color-orange);
}

/*authentification*/

.form-auth{
  margin: auto;
  position: relative;
  background-color: var(--body);
  width: 900px;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-check-input[type=checkbox]{
  padding: 10px;
  border: 2px solid #262626;
}


.form-auth h3{
    font-weight: 600;
}

.form-auth h5{
  font-weight: 200;
  opacity: 0.5;
}

.form-auth .bloc-1{
  width: 50%;
  height: 100%;
  padding: 15px 35px;
}

.form-auth .bloc-2{
  width: 50%;
  height: 100% !important;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/login.jpg)
}


.wrapper-bloc{
  width: 100%;
  height: 100%;
}


.form-auth-register{
  margin: auto;
  position: relative;
  background-color: var(--body);
  width: 900px;
  height: 550px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


.form-auth-register h3{
  font-weight: 600;
}

.form-auth-register h5{
font-weight: 200;
opacity: 0.5;
}

.form-auth-register .bloc-1{
width: 50%;
height: 100%;
padding: 15px 35px;
}

.form-auth-register .bloc-2{
width: 50%;
height: 100% !important;
background-size: cover;
background-position: center center;
background-image: url(/assets/register.jpg)
}

/*Footer*/
.footer-icons li a i{
  color: #fff;
}
.footer-icons li a:hover i{
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  transition:  0.5s ease;
  color: var(--color-orange);
  transition: transform 0.6s;
  transform: translateY(-5px);
}



/*Panier*/

.table-row{
  border-radius: 10px;
  border-bottom: 1px solid rgb(212, 206, 206);
}

.cart-title{
  margin-top: 25px;
  margin-left: 20px;
}

.my-table{
  margin-top: 20px ;
  margin-left: 20px ;
  width: 900px;
  padding: 10px 20px !important;
}


.image{
  width: 50px;
  height: auto;
}

.image img{
  width: 100%;
  height: 100%;
}

.quantity-input {
  display: flex;
}

.btn-panier{
  margin: 0px 10px;
  width: 30px;
  position: relative;
  top: 5px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.supprimer{
  border: none;
  background-color:transparent;
}

.supprimer i{
  color: #000;
  font-size: 22px;
  transition: 0.5s ease;
}

.supprimer:hover i{
  transform:translateY(-2px);
  color: red;
}

/*Auteurs*/

.element a{
  text-decoration: none;
}

.element p{
  color: #000;
  font-weight: 600;
  margin:15px 0px;

}


/*pagination*/

.paginator nav{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Dashboard*/


/*forms CRUD*/

.form-new{
  margin: auto;
  position: relative;
  background-color: var(--body);
  width: 800px;
  height: 600px;
  border-radius: 5px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-check-input[type=checkbox]{
  padding: 10px;
  border: 2px solid #262626;
}


.form-new h3{
    font-weight: 600;
}

.form-new h5{
  font-weight: 200;
  opacity: 0.5;
}

.bloc-1{
  width: 100%;
  height: 100%;
}

.wrapper-bloc{
  width: 100%;
}


.form-new-livre{
  margin: auto;
  position: relative;
  background-color: var(--body);
  width: 900px;
  height: 900px;
  border-radius: 5px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


  /* ================================= 
    Media Queries
  ==================================== */
  
  
  
  
  @media (min-width: 769px) {
      .header,
      .main-nav {
          display: flex;
      }
      .header {
          flex-direction: column;
          align-items: center;
          width: 80%;
          margin: 0 auto;
          max-width: 1150px;
      }
      }
  
  
  
  @media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }

/*avantage*/

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: #FEBE8C !important;
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
  }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  
  .feature-icon p i{
    color: #fff;
  }
  .feature-icon p {
    margin: 0;
  }

  /*carousel*/


  
  
  .image-container{
    background-color: #FEBE8C;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  
  
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    width: 300px;
    bottom: 4rem;
    z-index: 10;
  }
  
  .carousel-caption h1{
    text-align: left;
    font-size: 35px;
    font-weight: bold;
  }
  
  
  .carousel-caption p{
    text-align: left;
  }
  
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }

  /*category*/

  .category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }  

  .category li{
    margin: 0px 20px;
    list-style: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .category li:hover{
    transform: translateY(-12px);
  }


  .category li a{
    text-decoration: none;
    color: var(--color-black);
    padding: 8px 18px;
    background-color: var(--color-peach);
    border-radius: 50px;
    font-weight: bold;
    font-size: 19px;
  }
  

  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }